
html body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    background-color: #fbfaf5;
}

@media (max-width: 600px) {
    section {
      padding: 30px;
    }

    .container-fluid{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .navbar{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .font-size-80 {
        font-size: 34px;
        font-weight: 700;
    }

    .font-size-60 {
        font-size: 34px;
        font-weight: 800;
    }

    .font-size-40 {
        font-size: 20px;
        font-weight: 800;
    }

    .font-size-16 {
        font-size: 12px;
        font-weight: 500;
    }

    .rounded-lg {
        border-radius: 0 !important ;
    }

    .circle {
        width: 320px; /* Adjust size */
        height: 320px;
        background-image: url('profile-pic.jpg');
        border-radius: 50%; /* Makes it circular */
        display: flex; /* Center the icon */
        align-items: center;
        justify-content: center;
        color: white; /* Icon color */
        font-size: 40px; /* Icon size */
      }
  }
  
  /* For devices with a min width of 601px (desktops and tablets) */
  @media (min-width: 601px) {
    section {
      padding: 80px;
    }

    .font-size-80 {
        font-size: 80px;
        font-weight: 700;
    }

    .font-size-60 {
        font-size: 60px;
        font-weight: 800;
    }

    .font-size-40 {
        font-size: 40px;
        font-weight: 800;
    }

    .font-size-16 {
        font-size: 16px;
        font-weight: 500;
    }

    .rounded-lg {
        border-radius: 2rem;
    }

    .circle {
        width: 360px; /* Adjust size */
        height: 360px;
        background-image: url('profile-pic.jpg');
        border-radius: 50%; /* Makes it circular */
        display: flex; /* Center the icon */
        align-items: center;
        justify-content: center;
        color: white; /* Icon color */
        font-size: 40px; /* Icon size */
      }
  }



.bg-topo {
    background-image: url('background-topo.jpg');
}

.bg-red {
    background-color: #b91a1a;
}

.bg-grey {
    background-color: rgb(20, 20, 20);
}

.bg-linen {
    background-color: #fbfaf5;
}

.bg-dark-linen {
    background-color: #e7c7a7;
}


.nav-link {
    transition: all 0.8s ease; 
}

.nav-link:hover {
    color: #b91a1a !important; 
}

.button {
    background-color: black;
    transition: 0.2s;
}
.button:hover {
    background-color: white;
    color: black !important;
    border-color: black!important;
}


.font-color-red {
    color: #b91a1a;
}

.font-color-linen {
    color: #fbfaf5;
}

.font-color-green {
    color: #474d85;
}

.font-size-100 {
    font-size: 100px;
    font-weight: 800;
}

body .font-size-20 {
    font-size: 20px;
    font-weight: 500;
}

body .font-size-12 {
    font-size: 12px;
    font-weight: 500;
}

body .font-size-14 {
    font-size: 14px;
    font-weight: 500;
}


body .font-size-18 {
    font-size: 18px;
    font-weight: 600;
}


body .font-size-50 {
    font-size: 50px;
    font-weight: 800;
}

body .font-size-70 {
    font-size: 70px;
    font-weight: 800;
}


.height-65 {
    height: 65%;
}

.height-30 {
    height: 30%;
}

.letter-spacing {
    letter-spacing: 4px;
}

.letter-spacing-22 {
    letter-spacing: 22px;
}


  .playwrite-is {
    font-family: "Playwrite IS", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .zen-dots {
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style:italic;
  }

  .rubik {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 600 !important;
    font-style: normal;
  }

  .dancing-script {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .great-vibes-regular {
    font-family: "Great Vibes", serif;
    font-weight: 300;
    font-style: normal;
  }

  .raqi {
    font-family: 'Raqillas', Arial, sans-serif;
}


 
  
