body, html {
    height: 100vh;
    margin:0;
}

.sidebar {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
}

.with-bullets {
    list-style-type: disc;
}

.content {
    margin-left: 350px;
}

.sidebar-button {
    width: 240px;
    background-color: white;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.sidebar-button:hover {
    transform: scale(1.05);
}

.sidebar-button:hover {
     background-color: black;
     color: white;
}

.icon-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white; /* light background */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

.icon-circle:hover {
  transform: scale(1.1);
  background-color: #dee6cf;
}

.circle-img {
    width: 130px;       /* fixed size */
    height: 130px;      /* fixed size */
    object-fit: cover;  /* crop and fill the circle */
    border-radius: 50%; /* makes it circular */
}

.contact {
    margin-left: 350px;
}

.exp-items, .edu-items {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.exp-items:hover,.edu-items:hover {
  transform: scale(1.01);
}

.exp-p {
    font-size: 13px;
}

.port-repo {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    transform-origin: right center;
}

.port-repo:hover {
    transform: scaleX(1.2);
    background-color: black;
    color: white;
}

.bg-softerblack {
    background-color: #9ca58a;
}

.softerblack {
    color: #9ca58a;
}

.border-softerblack {
    border: 2px solid #9ca58a;
}

.contact-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white; /* light background */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;   /* remove underline */
    color: inherit;
    transition: transform 0.3s ease;
  }

  .contact-circle:hover{
    transform: scale(1.1);
  }

.pointer {
    cursor: pointer; 
}



